<div class="col-lg-4 float-left mt-3">
  <h3>User Panel</h3>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" [routerLink]="['/panel/list']">List</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" [routerLink]="['/panel/add']">Add</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" [routerLink]="['settings']">Settings</button>
    </li>
  </ul>
</div>

<div class="tab-content col-lg-8 float-right mt-3" id="myTabContent">
  <router-outlet></router-outlet>
</div>
