<div class="col-lg-4 float-left mt-3">
  <h3>User Panel</h3>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="add-tab" data-bs-toggle="tab" data-bs-target="#add" type="button" role="tab" aria-controls="add" aria-selected="false" [routerLink]="['/panel/add']">Add</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="true" [routerLink]="['/panel/list']">List</button>
    </li>
  </ul>
</div>

<div class="tab-content col-lg-8 float-right mt-3" id="myTabContent">
  <router-outlet></router-outlet>
</div>
