<div class="col-lg-12 topic-box mt-3" *ngIf="topic">
  <div class="topic-data col-lg-7 float-start">
    <h1>{{topic.title}}</h1>
    <span class="badge bg-warning ml-2" *ngIf="topic.lang">
      {{topic.lang}}
    </span>
    <span class="badge bg-primary mx-2">
      {{topic.user.name + ' ' + topic.user.surname}}
    </span>
    <span class="badge bg-secondary">
      {{topic.date | amLocale: 'es' | amTimeAgo}}
    </span>

    <p id="topic-content" class="mt-2">
      {{topic.content}}
    </p>

    <p id="topic-code" class="mt-2" *ngIf="topic.code">
      {{topic.code}}
    </p>

  </div>
</div>
