<div class = "col-lg-12 mt-3" align="center">
  <h1>{{ page_title }}</h1>
  <hr class="col-md-8">

  <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
    {{ message }}
  </div>

  <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
    {{ message }}
  </div>

  <form class="col-8 col-md-4 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">

    <div class="form-group">

      <label for="name" class="mt-3">Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZÀ-ÿ ]+" class="form-control" />

      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        El nombre no es valido.
      </small>

      <label for="name" class="mt-3">Last name</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZÀ-ÿ ]+" class="form-control" />

      <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
        Los apellidos no son validos.
      </small>

      <label for="name" class="mt-3">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" />

      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El email no es validos.
      </small>

      <div class="form-group mt-2">
        <label for="avatar" class="mt-3">Avatar</label>

        <angular-file-uploader
              [config]="afuConfig"
              [resetUpload]=resetVar
              (ApiResponse)="avatarUpload($event)">
        </angular-file-uploader>
      </div>

    </div>

    <input type="submit" value="Save" class="btn btn-success mt-3" [disabled]="userEditForm.invalid" />


  </form>
</div>
