<div class = "col-lg-12 mt-3">
  <h1>{{ page_title }}</h1>

  <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
    The user is already registered, <a [routerLink]="['/login']">Login</a>
  </div>

  <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
    The register isn't finished.
  </div>

  <!-- <form class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)"> -->
  <form class="col-md-5 ml-0 pl-0" >

    <div class="form-group">

      <label for="name" class="mt-3">Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZÀ-ÿ ]+" class="form-control" />

      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        El nombre no es valido.
      </small>

      <label for="name" class="mt-3">Last name</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZÀ-ÿ ]+" class="form-control" />

      <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
        Los apellidos no son validos.
      </small>

      <label for="name" class="mt-3">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" />

      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El email no es validos.
      </small>

      <label for="name" class="mt-3">Password</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-control" />

      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
        El password no es valido.
      </small>

    </div>

    <!-- <input type="submit" value="{{page_title}}" class="btn btn-success mt-3" [disabled]="registerForm.invalid" /> -->
    <input type="submit" value="{{page_title}}" class="btn btn-success mt-3" />


  </form>
</div>
